body {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: hsl(30, 38%, 92%);
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Fraunces", serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
}

p {
    font-size: 14px;
    color: grey;
    /* font-weight: 700; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 80%;
    background-color: white;
    border-radius: 12px;
}
.desktop-image {
    display: none;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.card-image {
    display: flex;
    width: 100%;
}

.img-card {
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.card-content {
    width: 90%;
    /* background-color: black; */
}

.about {
    margin-bottom: 40px;
    line-height: 2;
}

.priceSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0px;
}
.price {
    font-family: "Fraunces", serif;
    font-size: 30px;
    padding-right: 10%;
    color: hsl(158, 36%, 37%);
    font-weight: bold;
}

.strikedPrice {
    text-decoration: line-through;
}

.buttonDiv {
    /* margin-top: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
    background-color: hsl(158, 67%, 21%);
}

.cartImage {
    width: 6%;
    padding-right: 10px;
}

@media only screen and (min-width: 900px) {
    .container {
        width: 60%;
    }
}

@media only screen and (min-width: 1200) {
    .container {
        width: 75%;
    }
}

@media only screen and (min-width: 1350px) {
    .container {
        width: 50%;
    }
    .card {
        display: flex;
        flex-direction: row;
    }
    .img-card {
        display: none;
    }
    .card-image {
        display: flex;
        height: 100%;
        width: 55%;
    }
    .desktop-image {
        display: block;
        width: 100%;
        border-radius: 12px;
    }
    .card-content {
        display: flex;
        /* align-items: center; */
        /* justify-content: center; */
        justify-content: space-around;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding: 0 20px;
        /* height: 90%; */
    }
    .about {
        margin-bottom: 40px;
        line-height: 2;
    }
}
